h1 { 
    color: rgb(255, 255, 255);
    background-color: red;
    font-size: larger;
    background-size:1000;
}

h2 {
    background-color: rgba(0, 0, 0, 0.727);
    text-align: right;
    color: white;
}

a {
    text-align: right;
    font-size: medium;
}

.img-style1 {
    width: 77%;
    float: left;
}

body img {
    width: 18%;
    float: right;
}

h3 {
    color: black;
    text-align: left;
    font-size: large;
    font-weight: bold;
}

h4 {
    color: black;
    float: center;
    text-align: left;
    font-weight: bold;
}

p {
    color: black;
    width: 78%;
}

footer {
    color: white;
    font-size: small;
    background-color: rgba(0, 0, 0, 0.727);
}